footer {
    padding: 16px 32px;
    background: var(--hida-black);
}
.footer__top {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 2px solid var(--hida-white);
}
.footer__link {
    font: normal 700 1rem/100% 'Noto Sans JP', sans-serif;
    color: var(--hida-white);
    padding: 2px;
    transition: 0.5s;
}
.footer__link:hover {
    color: var(--hida-green);
}
.footer__info {
    font: var(--main-item-font);
    font-size: 1rem;
    color: var(--hida-white);
}