<header>
    <a href="/hida-takayama-high-school/" class="header__logo">飛騨高山高等学校</a>
    <div id="headerNav" class="header__nav">
        <button id="headerSwitchClose" class="header__mb-nav-switch header__mb-nav-switch--close"><img src="/hida-takayama-high-school/images/layouts/header/close.svg" alt="<" class="header__mb-nav-switch-img"></button>
        <a href="/hida-takayama-high-school/okamoto" class="header__link">岡本キャンパス</a>
        <a href="/hida-takayama-high-school/yamada" class="header__link">山田キャンパス</a>
        <a href="/hida-takayama-high-school/teiji" class="header__link">定時制</a>
        <a href="/hida-takayama-high-school/tuusin" class="header__link">通信制</a>
        <a href="/hida-takayama-high-school/club" class="header__link">部活動</a>
        <a href="/hida-takayama-high-school/contact" class="header__link">お問い合わせ</a>
    </div>
    <button id="headerSwitchOpen" class="header__mb-nav-switch"><img src="/hida-takayama-high-school/images/layouts/header/menu.svg" alt="<" class="header__mb-nav-switch-img"></button>
</header>
<script>
    const headerSwitchClose = document.querySelector('#headerSwitchClose');
    const headerSwitchOpen = document.querySelector('#headerSwitchOpen');
    const headerNav = document.querySelector('#headerNav');
    function headerSwitch(headerSwitchClose, headerSwitchOpen) {
        headerNav.classList.toggle('header__nav--active');
    }
    headerSwitchOpen.addEventListener('click', function() {
        headerSwitch();
    });
    headerSwitchClose.addEventListener('click', function() {
        headerSwitch();
    });
</script>